﻿@model SDFG.Konquest.Dashboard.Models.GuildViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var imgSrc = Url.Content($"/images/emblems/{Model.Id}_800.png");
}

<h1 class="mdl-typography--text-center"><img src="@imgSrc" alt="@Model.Id" class="quest-title-img" /></h1>

<div class="mdl-grid quest-cards">
    <div class="mdl-cell mdl-cell--12-col mdl-color-text--blue-500"><h2>Quests</h2></div>
    @foreach (var quest in Model.Quests)
    {
        <div class="mdl-cell mdl-cell--12-col">
            <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-color--blue-500">
                <div class="mdl-card__title mdl-card--expand mdl-color-text--white">
                    <h4>
                        @quest.Title
                    </h4>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--white">
                    @quest.Content
                </div>
                <div class="mdl-card__actions mdl-card--border mdl-color--blue-700">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        View Quest
                    </a>
                </div>
            </div>
        </div>
    }
</div>